<% content_for :left_column do %>
<h1>All Posts</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
        </tr>
        <% @posts.each do |u| %>
        <tr>
            <td><%= u.title %></td>
            <td><%= u.content %></td>
            <td><%= u.user.first_name %></td>
        </tr>
        <% end %>
    </table> 
<%end%>
<% content_for :right_column do %>
    <h1>Go to Users Page</h1>
    <button class="btn btn-default"><a href="/">All Users</a></button>
<%end%>
<% content_for :middle_column do %>
    <h1>New Post</h1>
    Title: <input type="text" name="first_name">
    <br>
    Content: <input type="text" name="last_name">
    <br>
    Author:
    <select name:user>
        <% @users.each do |p|%>
        <option value="<%=p.id%>"><%=p.first_name%> <%=p.last_name%></option>
        <%end%>
    </select>
    <br>
    <input type="submit" value="Submit">  
<%end%>